In [29]:
import pandas as pd

## Análise Exploratória

In [30]:
df_ethereum = pd.read_csv('C:/Users/cecig/OneDrive/Documentos/GitHub/ponderada-cripto/src/dados/ethereum_365days.csv')
df_ethereum.head()

    timestamp     open     high      low    close       volume
0  2023-09-18  1622.48  1669.50  1603.88  1636.66  279041.6978
1  2023-09-19  1636.66  1661.04  1626.32  1643.12  184282.4258
2  2023-09-20  1643.13  1649.34  1604.51  1622.26  232844.2347
3  2023-09-21  1622.27  1625.30  1567.77  1583.94  240627.5440
4  2023-09-22  1583.94  1602.68  1576.58  1593.08  124886.0910

In [31]:
df_ethereum.tail()

      timestamp     open     high      low    close       volume
360  2024-09-12  2340.54  2391.93  2315.39  2361.76  202611.1308
361  2024-09-13  2361.75  2464.82  2337.35  2439.19  253888.6160
362  2024-09-14  2439.19  2440.60  2376.72  2417.79  122931.2302
363  2024-09-15  2417.80  2430.32  2283.75  2316.10  174364.1946
364  2024-09-16  2316.09  2335.70  2252.39  2279.13  293981.8996

In [32]:
df_ethereum.describe()

              open         high          low        close        volume
count   365.000000   365.000000   365.000000   365.000000  3.650000e+02
mean   2727.312548  2789.901151  2659.062192  2729.110164  3.694206e+05
std     682.064454   699.696906   656.611902   680.004916  2.332389e+05
min    1539.610000  1561.720000  1521.000000  1539.610000  6.453713e+04
25%    2232.700000  2282.360000  2188.330000  2235.020000  2.286509e+05
50%    2639.990000  2717.320000  2584.200000  2639.990000  3.232856e+05
75%    3335.820000  3435.760000  3240.000000  3335.810000  4.495018e+05
max    4064.800000  4093.920000  3932.230000  4064.800000  2.670604e+06

In [33]:
df_ethereum.columns

Index(['timestamp', 'open', 'high', 'low', 'close', 'volume'], dtype='object')

In [34]:
df_ethereum.isnull().sum()

timestamp    0
open         0
high         0
low          0
close        0
volume       0
dtype: int64

In [35]:
df_ethereum[['volume', 'open', 'high', 'low', 'close']].corr()

          volume      open      high       low     close
volume  1.000000  0.172021  0.204937  0.108659  0.168242
open    0.172021  1.000000  0.995796  0.993952  0.991003
high    0.204937  0.995796  1.000000  0.992692  0.996712
low     0.108659  0.993952  0.992692  1.000000  0.995060
close   0.168242  0.991003  0.996712  0.995060  1.000000

In [36]:
df_ethereum['daily_return'] = df_ethereum['close'].pct_change()
df_ethereum['volatility'] = df_ethereum['daily_return'].rolling(window=7).std()
df_ethereum.head(10)

,timestamp,open,high,low,close,volume,daily_return,volatility
0,2023-09-18,1622.48,1669.50,1603.88,1636.66,279041.6978,NaN,NaN
1,2023-09-19,1636.66,1661.04,1626.32,1643.12,184282.4258,0.003947,NaN
2,2023-09-20,1643.13,1649.34,1604.51,1622.26,232844.2347,-0.012695,NaN
3,2023-09-21,1622.27,1625.30,1567.77,1583.94,240627.5440,-0.023621,NaN
4,2023-09-22,1583.94,1602.68,1576.58,1593.08,124886.0910,0.005770,NaN
5,2023-09-23,1593.07,1598.24,1587.45,1593.86,64537.1341,0.000490,NaN
6,2023-09-24,1593.85,1601.12,1570.01,1580.71,137517.8533,-0.008250,NaN
7,2023-09-25,1580.71,1597.50,1563.01,1588.33,176706.9277,0.004821,0.011067
8,2023-09-26,1588.34,1599.78,1580.05,1594.01,125583.0161,0.003576,0.011022
9,2023-09-27,1594.02,1634.10,1583.50,1598.64,274404.4328,0.002905,0.010605